include README.rst
include LICENSE.txt
include setup.py
include pyproject.toml
include CMakeLists.txt
include cmake/cmake_uninstall.cmake.in
include cmake/Modules/Findnifti1.cmake
include cmake/Modules/Findnifti2.cmake
include src/larid.h
include src/larid.c
include src/util.c
include src/dset.c
include src/datatype.c
include src/morder.c
include src/rescale.c
include src/io.c
include test/__init__.py
include test/__main__.py
include test/test_larid.py
include test/test_dset.py
include test/test_morder.py
include test/test_cast.py
include test/test_rescale.py
include test/test_io.py
